.copied {
  position: fixed;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4b6d89;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s;
  pointer-events: none;
  z-index: 3;

  &.active {
    opacity: 1;
    display: flex;
  }

  &__text-wrapper {
    padding: 5rem;
    background: #c4c0c04d;
    width: 100%;
    text-align: center;
    font-size: 5rem;
  }
}
