.colors-wrapper {
  display: flex;
  height: calc(100vh - 64px);
  overflow-y: hidden;
}

.colors {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .colors-wrapper {
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 64px;
  }

  .colors {
    flex-direction: column;
  }
}
